
#wrapper {
    width: 100%;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
        box-sizing: border-box;
    box-sizing: border-box;
}
.btn-link {
    font-weight: 400;
    color: cadetblue;
    background-color: transparent;
}
body,html{
    height: 100%;
  }
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
 
  .main{
    padding: 10px 10px 0 10px;
  }

 @media (min-width: 765px) {

    .main{
      position: absolute;
      width: calc(100% - 40px); 
      margin-left: 40px;
      float: right;
    }

    nav.sidebar:hover + .main{
      margin-left: 200px;
    }

    nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
      margin-left: 0px;
    }

    nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
      text-align: center;
      width: 100%;
      margin-left: 0px;
    }
    
    nav.sidebar a{
      padding-right: 13px;
    }

    nav.sidebar .navbar-nav > li:first-child{
      border-top: 1px #e5e5e5 solid;
    }

    nav.sidebar .navbar-nav > li{
      border-bottom: 1px #e5e5e5 solid;
    }

    nav.sidebar .navbar-nav .open .dropdown-menu {
      position: static;
      float: none;
      width: auto;
      margin-top: 0;
      background-color: transparent;
      border: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
      padding: 0 0px 0 0px;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
      color: #777;
    }

    nav.sidebar{
      width: 200px;
      height: 100%;
      margin-left: -160px;
      float: left;
      margin-bottom: 0px;
    }

    nav.sidebar li {
      width: 100%;
    }

    nav.sidebar:hover{
      margin-left: 0px;
    }

    .forAnimate{
      opacity: 0;
    }
  }
   
  @media (min-width: 1330px) {

    .main{
      width: calc(100% - 200px);
      margin-left: 200px;
    }

    nav.sidebar{
      margin-left: 0px;
      float: left;
    }

    nav.sidebar .forAnimate{
      opacity: 1;
    }
  }

  nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #CCC;
    background-color: transparent;
  }

  nav:hover .forAnimate{
    opacity: 1;
  }
  section{
    padding-left: 15px;
  }
  
 
#time{
    margin-left: 950px;
    
}
nav{
    
    display: block;
}

.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
        margin-top: 40px;
        margin-right: 0px;
        margin-bottom: 20px;
        margin-left: 0px;
    border-bottom: 1px solid #eee;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: rgb(238, 238, 238);
}
  

}
#page-wrapper {
    padding: 0 15px;
    padding-top: 0px;
padding-right: 15px;
padding-bottom: 0px;
padding-left: 15px;
    min-height: 568px;
    background-color: white;
}
.sidebar {
    z-index: 1;
    position: absolute;
    width: 250px;
    margin-top: 51px;
}
.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}
.row {
    
        margin-right: -15px;
    margin-left: -15px;
}
    
.panel {
    margin-bottom: 20px;
    background-color:  #337ab7;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}



.panel-primary > .panel-heading {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
            border-top-color: rgb(51, 122, 183);
        border-right-color: rgb(51, 122, 183);
        border-bottom-color: rgb(51, 122, 183);
        border-left-color: rgb(51, 122, 183);
}



.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    

}

.panel-footer {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
    float: left;
}
.col-lg-3,.col-md-6{
     position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;

}

.col-xs-3 {
    width: 25%;
    float: left;
}

.col-xs-9 {
    width: 75%;
    float: left;
    
}
.fa-5x,.fa-5x {
    font-size: 5em;
}

.col-md-6 {
    width: 50%;
}
huge {
    font-size: 40px;
}
.panel-green {
    
    border-color: #5cb85c;
        border-top-color: rgb(92, 184, 92);
        border-right-color: rgb(92, 184, 92);
        border-bottom-color: rgb(92, 184, 92);
        border-left-color: rgb(92, 184, 92);
     background-color: #5cb85c;
}

.col-xs-3 {
    width: 25%;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.panel-yellow {
    border-color: #f0ad4e;
        border-top-color: rgb(240, 173, 78);
        border-right-color: rgb(240, 173, 78);
        border-bottom-color: rgb(240, 173, 78);
        border-left-color: rgb(240, 173, 78);
    background-color: #f0ad4e;
    

}

.panel-red {
    border-color: #d9534f;
        border-top-color: rgb(217, 83, 79);
        border-right-color: rgb(217, 83, 79);
        border-bottom-color: rgb(217, 83, 79);
        border-left-color: rgb(217, 83, 79);
     background-color: #d9534f;
}

.cross{
    
    position: relative;
    right: 60px;
    bottom: -10px;
    float: left;
}
.temp{
    position: relative;
    right: 60px;
    bottom: -10px;
    float: left;
}

.footer {
    padding-top: 1.5rem;
    color: #777;
    border-top: .05rem solid #e5e5e5;
        border-top-width: 0.05rem;
        border-top-style: solid;
        border-top-color: rgb(229, 229, 229);
    
}
.foot{
    margin-left: 950px;
    
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}


.col-lg-12 {
    width: 100%;
    float: left;
        position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
        margin-top: 40px;
        margin-right: 0px;
        margin-bottom: 20px;
        margin-left: 0px;
    border-bottom: 1px solid #eee;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: rgb(238, 238, 238);
}
.h1{
    font-size: 36px;
}

.select-style {
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    width: 120px;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;

}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

.select-style select:focus {
    outline: none;
}
#price1{
    color: white;
     font-size: 20px;
}
#price2{
    color: white;
    font-size: 20px;
}
#price3{
    color: white;
     font-size: 20px;
}