<!DOCTYPE html>
<html>
<head>
    <title>Contact us</title>
    <meta charset="UTF-8">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    
<link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">     
    <meta charset="UTF-8">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
     <link rel="shortcut icon" href="../View/Pictures/favicon.png" type="image/png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
     
     <link rel="stylesheet" href="../View/css/side.css">
    <link rel="stylesheet" href="../View/css/style.css">
    <link rel="stylesheet" href="../View/css/contact.css">
    <script src="../Model/js/coustom.js"></script>
</head>
<body>
   
<nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand" href="../View/home2.html">
    <img src="../View/pictures/icon.png" width="50" height="50" class="icon" alt=""><Strong style="color: black">Smart Home</Strong>
   </a>
 
  <form class="form-inline">
       
   <span style="font-size:30px;cursor:pointer" onclick="openNav()" >&#x02261;&nbsp;Menu</span>
  </form>
</nav>
    
<div id="mySidenav" class="sidenav">
 <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="../View/home2.html">Home</a>
     <a href="../View/user.php"> Profile</a>
     <a href="../View/dashboard.html">Dashboard</a>
  <a href="../View/view.php">View appartment</a>
  <a href="../View/manage.html">Manage appartment</a>
    <a href="../Controller/logout.php">Logout</a>
<a href="../View/contactlog.html">Contact us</a>
</div>
     <script>
function openNav() {
    document.getElementById("mySidenav").style.width = "100%";
}

/* Close/hide the sidenav */
function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
} 
    </script>
    <br>
   <center><h2>Feeling lonley talk to us,we are here....</h2></center>
    <div class="outer-divi">
     <div class="container">
  <form>

    <label for="fname">First Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name..">

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">

    <label for="country">Country</label>
    
 <input type="text" id="lname" name="country" placeholder="Your last name..">
    <label for="subject">Subject</label>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

    <input type="submit" value="Submit">
      <hr>
      <br>
       <center><h2>Meet the force behind that</h2>
    <p>Need a new website,party clown,Golden shower contact us.....</p></center>
    <hr>
     <div class="row">
  <div class="column">
    <div class="card2">
      <img src="../View/pictures/meet5.jpg" alt="Jane" style="width:100%">
      <div class="container">
        <h2>Sritama babdgebs</h2>
        <p class="title">All in all</p>
        <p>If you are happy and you know it clap your hands</p>
        <p>sritama.baisya@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card2">
      <img src="../View/pictures/meet2.jpg" alt="Mike" style="width:100%">
      <div class="container">
        <h2>Mounika efgzgsegs</h2>
        <p class="title">Database</p>
        <p>hey teacher leave the kids alone...</p>
        <p>mounicakandikatla@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card2">
      <img src="../View/pictures/meet4.jpg" alt="John" style="width:100%">
      <div class="container">
        <h2>Ganesh dfbfbs</h2>
        <p class="title">Database</p>
        <p>Man with the phone....</p>
        <p>ganeshtukaram07@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div> 
    <div class="row">
  <div class="column">
    <div class="card2">
      <img src="../View/pictures/meet7.jpg" alt="Jane" style="width:100%">
      <div class="container">
        <h2>Raja fxbfbsbs</h2>
        <p class="title">Designer</p>
        <p>Tinkle tinkle little star...howi wonder what your...</p>
        <p>vcsekhar2017@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card2">
      <img src="../View/pictures/meet3.jpg" alt="and her family" style="width:100%">
      <div class="container">
        <h2>Deepthi bsrsrgs</h2>
        <p class="title">Designer</p>
        <p>Ring ringa roses pocket full a roses.....</p>
        <p>deepthichowdary5050@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card2">
      <img src="../View/pictures/meet6.jpg" alt="John" style="width:100%">
      <div class="container">
        <h2>Uday fbdbsrbs</h2>
        <p class="title">Designer</p>
        <p>Dancer in the dark</p>
        <p>udayk0030@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div> 

  </form>
         
</div>
        <hr>
        <center><h2>We are here...</h2></center>
</div>
    <div id="googleMap" style="width:100%;height:400px;"></div>

<script>
function myMap() {
var mapProp= {
    center:new google.maps.LatLng(48.824529,2.279853600000024),
    mapTypeId: google.maps.MapTypeId.SATELLITE,
    zoom:18,
};
var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCN01U7GEmZE9oB-q2qLdcuxYQ68s7FJrM&callback=myMap"></script>

    
    
   <hr class="style18">
    <footer>    
  
    <div class="copyright">

    <div class="col-md-6">
      <p>© 2017 - All Rights with THE CHANGE</p>
        
    </div>
  
</div>
  
        </footer>
</body>
</html>